*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.voyage-image{
    height: 600px;
    width: 700px;
}

.about-wrapper{
    display: flex;
    color: #4c4d4e;
}
.voyage-container{
    padding: 6rem 2rem ;
    
}

.shop-btn{
    padding: 0.5rem;
    margin-top: 2rem;
    margin-left: 3rem;
    width: 12rem;
    border-radius: 5px 5px;
    font-size: 22px;
    background-color: #ff0000
}
.voyage-content{
    width: 50ch;
    margin-right: 14.3rem;
}
.main-wrapper
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.voyage-content2{
    padding-left: 3rem;
    line-height: 20px;
    margin-top: 2rem;
}
.our-history{
    padding-left: 3rem;
}
our-voyage{
    font-size: 40px;
}
@media (max-width: 768px) {
    .about-wrapper{
        display: flex;
        flex-direction: column;
        color: #4c4d4e;
    }

    .voyage-content2{
        font-size: 30px;
        padding-left: 3rem;
        line-height: 30px;
        margin-top: 2rem;
        width: 40ch;
    }
    .voyage-content{
        padding-left: 3rem;
        font-size: 30px;
        line-height: 30px;
        margin-top: 2rem;
        width: 40ch;
    }
    .our-history{
        font-size: 42px;
    }
    .our-voyage{
        font-size: 60px;
    }
    .voyage-image{
        height: 600px;
        width: 600px;
        margin: 3.5rem;
    }
}