.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #333;
        flex-direction: column;
        align-items: center;
        transition: left 0.3s ease;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        margin: 20px 0;
    }

    .hamburger {
        display: flex;
    }
}
.header{
    text-align: center;
}
.container {
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
.explore-heading{
    font-size: 40px;
    width: 18ch;
}
.explore-content{
width: 60ch;
font-size: 18px;
}
.main-wrapper{
    display: flex;
    padding: 0.5rem;

}
.contact-info{
    display: flex;
    width: 50%;
    gap: 2rem;
    background-color: #fff;
}

@media (max-width: 768px) {
 .main-wrapper{
    display: flex;
    flex-direction: column  ;
 }   
 .contact-info{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2rem;
}
.reach-us{
    display: flex;
    flex-direction: column;
    justify-content: center     ;
    align-items: center;
}
.explore-content{
    width: 30ch;
    font-size: 18px;
    text-align: center;
    padding-left: 2rem;
    }
    .explore-heading{
        font-size: 40px;
        width: 15ch;
        text-align: center;
        padding-left: 1rem;
    }
    .container{
        width: 320px;
    }
    .contact-element{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
}